---
language: node_js
node_js:
  - "4.5.0"

sudo: false

notifications:
  email:
    on_success: change # only if status change from fail to success
    on_failure: always # if there is a fail
    recipients:
      - nmarcellin2@gmail.com
      - mars@fusemachines.com

cache:
  directories:
    - node_modules

before_install:
  - export PATH=/usr/local/phantomjs-2.0.0/bin:$PATH
  - "npm config set spin false"
  - "npm install -g npm@^2"

install:
  - npm install -g bower
  - npm install
  - bower install

script:
  - ember test

before_deploy:
  - ember test -f "Acceptance |"
  - cp -rf .deployment/production/config/environment.js app/config/
  - cp -rf .deployment/production/index.html app/
  # append content of ".deployment/production/router.js" to "app/router.js"
  - cat app/router.js > app/router.tmp.js # For Ember apps
  - cat app/router.tmp.js .deployment/production/router.js > app/router.js # For Ember apps
deploy:
  skip_cleanup: true
  provider: script
  script: ember deploy testing --verbose
  on:
    branch: production
