<div class="full-name">
	Name
	<button class="info-icon" 
		{{action 'toggleMessage' 'OPEN' on='mouseEnter'}}
		{{action 'toggleMessage' 'CLOSE' on='mouseLeave'}}
	>?</button>
	{{#if showMessage}}
		<span class="popover-content">
			Enter a partial or complete name
		</span>
	{{/if}}
	<br>
	<br>
	<input type="text" name="full-name">
</div>